body {
  height: 1000px;
  margin: 0;
  padding: 0;
}

.App {
  color: forestgreen;
  text-align: center;
}

.footer {
  background-color: white;
  border-top: 1px solid black;
  bottom: 0;
  color: white;
  font-size: 25px;
  position: fixed;
  width: 100%;
}
