body {
  height: 1000px;
  margin: 0;
  padding: 0;
}

.App {
  color: forestgreen;
  text-align: center;
}

.footer {
  border-top: 1px solid black;
  bottom: 0;
  color: white;
  font-size: 25px;
  position: fixed;
  width: 100%;
}

.button-div {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
