body {
  height: 1000px;
  margin: 0;
  padding: 0;
}

.App {
  color: forestgreen;
  text-align: center;
}

.footer {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 25px;
}

.button-div {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  bottom: 0;
  position: fixed;
  margin: 0px;
  right: 120px;
}

/* #start-recipe-btn {
  bottom: 0;
  right: 0;
  background-color: white;
  font-size: 14px;
  border-top: 1px solid black;
  color: white;
  position: fixed;
} */
